.form {
	margin: 20px auto;
	width: 90vw;

	@media (min-width: 600px) {
		width: 70vw;
	}

	@media (min-width: 900px) {
		width: 50vw;
	}
}

.card {
	margin: 10px;
	border: 1px solid var(--detailsColor) !important;
	background-color: var(--innerBackgroundColor) !important;

	* {
		color: var(--textColor) !important;
	}
}

.cardContent {
	display: flex;
	flex-direction: column;
}

.textField {
	margin: 10px 5px !important;
	background-color: var(--backgroundColor) !important;

	fieldset {
		border-color: var(--detailsColor) !important;
	}

	path {
		color: red;
	}
}

.formControl {
	margin: 5px 10px !important;
}

.radioWarning {
	margin: 0px 10px;
	font-size: 0.9rem;
	color: red !important;
}

.cardActions {
	justify-content: center;

	.sendButton {
		background-color: var(--detailsColor);

		&:hover {
			background-color: var(--hoverDetailsColor);
		}
	}
}
