.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;

	.title {
		margin-bottom: 20px;
		font-size: 2.5rem;
		font-weight: bold;
		text-shadow: 0 0 10px #000;
	}

	.subtitle {
		font-size: 1.5rem;
		font-weight: bold;
		text-shadow: 0 0 10px #000;

		.typewriter {
			display: block;
			white-space: nowrap;
			border-right: 4px solid;
			overflow: hidden;
		}

		.steps56 {
			width: 56ch;
			animation: typing 3s steps(60), blink 0.5s infinite step-end alternate;
		}

		.steps47 {
			width: 47ch;
			animation: typing 3s steps(47), blink 0.5s infinite step-end alternate;
		}
	}
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: #000;
	}
}
