.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--detailsColor);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 50px;
	font-size: 1.25rem;
	padding: 0 30px;
	box-sizing: border-box;
	text-align: center;

	.navLink {
		text-decoration: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		.homeIcon {
			margin: 0 10px;
		}
	}

	.navLinkActive {
		text-shadow: 0 0 10px #000;
		color: var(--hoverDetailsColor);

		.homeIcon {
			path {
				fill: var(--hoverDetailsColor);
			}
		}
	}
}
