.signForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	.input {
		width: 80%;
	}

	.message {
		color: red !important;
	}

	.signButton {
		margin: 10px 0;
	}

	.signLink {
		font-size: 0.9rem;
		margin: 10px 0;
	}
}
