.tablesContainer {
	width: 90vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px auto;

	div {
		text-align: center;
	}

	.divider {
		margin: 0 10px;
	}

	@media (min-width: 1200px) {
		flex-direction: row;
	}
}
