.tableContainer {
	width: 100%;
	overflow-x: auto;
	margin: 20px auto;
	background-color: var(--innerBackgroundColor) !important;
	border: 1px solid var(--detailsColor) !important;
	border-radius: 4px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

	table {
		width: 100%;

		th,
		td {
			width: 20%;
			padding: 8px 16px;
		}
	}

	.actionButton {
		font-size: 16px;
		padding: 8px 4px;
	}
}
