@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--backgroundColor: #202020;
	--innerBackgroundColor: #181818;
	--textColor: #ffffff;
	--detailsColor: darkblue;
	--hoverDetailsColor: blue;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--textColor);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--backgroundColor);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.MuiCalendarPicker-root {
	background-color: var(--innerBackgroundColor);
}

.MuiCalendarPicker-root .MuiTypography-root {
	color: var(--textColor);
}

.MuiPickersDay-root {
	background-color: var(--backgroundColor) !important;
	color: var(--textColor) !important;
}
