:root {
	--backgroundColor: #202020;
	--textColor: #ffffff;
	--detailsColor: darkblue;
}

* {
	margin: 0;
	padding: 0;
	color: var(--textColor);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--backgroundColor);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
